* 201805
* 工具+mac+google



注册谷歌账户时最后一步验证账户输入手机号说此电话号码无法用于进行验证，如何解决？

注册google this number cannot be used for verification

帖子：https://www.zhihu.com/question/36368291/answer/143990394

```
尝试N种方法，换N个地方的VPN，最后发现，打开手机QQ邮箱，选择“添加账户”-》gmail-》然后正常注册就可以使用中国电话收短信。毫无障碍可言，不用vpn，快的一B。
第一次觉得企鹅也不是只看人民币玩家。。。。

编辑于 2018-04-15
```





